@font-face{
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src:url("/fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src:url("/fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  src:url("/fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src:url("/fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

body{
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #FFFFFF;
  color: #444444;
}

/* Header */
.page-header{
  background-color: #FFE17F;
  color: #000000;
}

.navigation-list{
  list-style-type: none;
}

.navigation-link{
  font-family: Raleway, sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.navigation-user-link{
  font-family: Rubik, sans-serif;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
}

/* Slider */
.slider-tagline{
  font-family: Raleway, sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.offers-quality{
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.offers-characteristic{
  font-size: 16px;
}

.links-and-buttons{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

/* Catalog */
.catalog-list{
  list-style-type: none;
}

.menu-links{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.vr{
  background-image: url(../img/icon-vr.svg);
  background-repeat: no-repeat;
  width: 97px;
  height: 55px;
}

.monopod{
  background-image: url(../img/icon-monopod.svg);
  background-repeat: no-repeat;
  width: 86px;
  height: 117px;
}

.actioncamera{
  background-image: url(../img/icon-actioncamera.svg);
  background-repeat: no-repeat;
  width: 71px;
  height: 87px;
}

.fitbracelet{
  background-image: url(../img/icon-fitbracelet.svg);
  background-repeat: no-repeat;
  width: 107px;
  height: 65px;
}

.smartwatch{
  background-image: url(../img/icon-smartwatch.svg);
  background-repeat: no-repeat;
  width: 56px;
  height: 98px;
}

.kvadro{
  background-image: url(../img/icon-kvadro.svg);
  background-repeat: no-repeat;
  width: 132px;
  height: 69px;
}

/* Services */
.services-list{
  list-style-type: none;
}

.delivery-icon{
  background-image: url(../img/illustration-delivery.svg);
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
}

.warranty-icon{
  background-image: url(../img/illustration-warranty.svg);
  background-repeat: no-repeat;
  width: 171px;
  height: 195px;
}

.credit-icon{
  background-image: url(../img/illustration-credit.svg);
  background-repeat: no-repeat;
  width: 156px;
  height: 188px;
}

/* Delivery */
.delivery-link{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #000000;
  background-image: url(../img/icon-delivery-link.svg);
  background-repeat: no-repeat;
  width: 47px;
  height: 31px;
}

/* About us */
.contacts-headline{
  font-weight: 700;
  font-size: 24px;
}

.delivery-item{
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.headlines{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts-address{
  font-style: normal;
}

/* Fotter */
.page-footer{
  background-color: #444444;
  color: #FFFFFF;
}

.address-footer{
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  color: #FFFFFF;
}

.footer-navigation-list,
.social-media-list{
  list-style-type: none;
}

.footer-tel{
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
  color: #FFFFFF;
}

/*  --- Catalog. html --- */
.breadcrumbs,
.product-card-list,
.pagination-list{
  list-style-type: none;
}

.breadcrumbs-link{
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
}

/* Filters */
.filter-headline{
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.filter-legend{
  font-weight: 700;
  line-height: 20px;
}

.filter-items{
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.product-card-link{
  text-decoration: none;
  color: #000000;
}

.product-card-name{
  text-decoration: none;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.product-cart-price{
  font-weight: 400;
  line-height: 21px;
}

.show-more{
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
}

.pagination-link{
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
}
